---
layout: default
---
<!-- <!DOCTYPE html> -->
<html>
  {% include mathjax.html %}
  <h1>
    {{ page.title }}
  </h1>
  <body>
    <nav class="single-post-nav">
      <ul>
        {% if page.previous %}
        <li>
          <a href="{{ page.previous.url }}">&#8592; Previous post</a>
        </li>
        {% endif %}
        <li><a href="{{ site.baseurl }}/">Posts list</a></li>
        {% if page.next %}
        <li>
          <a href="{{ page.next.url }}">Next post &#8594;</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="single-post">
      {{ content }}
    </div>
  </body>
</html>
